 .parent{
    height: 50vh;
    width: 40vw;
    background-color: green;
    border: solid black 1px;
    margin: auto;
    position: relative;
 }

/* .parent::after{
    content: "";
    height: 20px;
    width: 20px;
    background-color: wheat;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
 } */
  
 .circle{
    height: 20px;
    aspect-ratio: 1/1;
    background-color: #fff;
    margin: 5px;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    transform: translateX(-40%);
    bottom: 10px;

 }
 .circle:nth-child(3){
    left: 46%;
 }
 .circle:nth-child(4){
    left: 52%;
 }

 .active{
    background-color: black;
    border: solid 2px white;
 }


 .slidingItem{
    height: 80%;
    display: flex;
 }
 .slider{
    height: 70%;
    position: relative;
    width: 30%;
    background-color: cyan;
    margin: auto;
    margin-top: 20px;
    display: none;
 }

 .activeSlider{
display: block;
 }