<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>
<body>
    <div class="parent">
        <div class="child">
            
            <div class="photo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLLxlo3SqH6lYo48ARBOzk4ZGp1JW3_6ujWR1GXuCjeQ&s" alt="">
            </div>
            <h4>sales</h4>
        </div>
        <div class="child">
            <div class="photo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLLxlo3SqH6lYo48ARBOzk4ZGp1JW3_6ujWR1GXuCjeQ&s" alt="">
            </div>
            <h4>marketing</h4>
        </div>
        <div class="child"> 
            <div class="photo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLLxlo3SqH6lYo48ARBOzk4ZGp1JW3_6ujWR1GXuCjeQ&s" alt="">
                
            </div>
           
            <h4>Finance</h4>
        </div>
        <div class="child">
            <div class="photo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLLxlo3SqH6lYo48ARBOzk4ZGp1JW3_6ujWR1GXuCjeQ&s" alt="">
            </div>
            <h4>Marketing</h4>
        </div>
    </div>
</body>
</html>