html{
  
}
.outer-circle{
    --progress:10;
    height: 150px;
    aspect-ratio: 1/1;
   
    border-radius: 50%;
    border: solid 1px ;
    margin: auto;
    position: relative;
    /* background: blue; */
    background: conic-gradient(
        red var(--progress,0),white 0%
    );
    
 
  
}
 
 
.outer-circle:before{
    content: attr(data-content);
    position: absolute;
    height: calc(100% - 30px);
    aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;  
    background-color: wheat;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
   
}
 
 