.parent{
    height: 50vh;
    /* width: 80vh; */
    background-color: cyan;
    margin: auto;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px ;
    column-gap: 10px;
    justify-items: end;
    align-items: start;
   justify-content: center;
   grid-auto-rows: 300px;
   grid-auto-flow: column;

}


.child{
 
    background-color: red;
}
.child1{
        grid-column: 1/-1;
        grid-row: 1/3;
        background-color: black;
        color: white;
}
.child6{
    /* grid-column: 4/6; 
    grid-row: 2/5; */
    background-color: red;
    align-self: end;

}