.parent{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: green;
    height: 110vh;
}
.child{
    background-image: url('https://images.pexels.com/photos/1519088/pexels-photo-1519088.jpeg');
    height: 300px;
    width: 300px;
    /* background-color: red; */
    background-size: contain; 
    background-repeat: no-repeat;
    padding: 10px;
    border: 10px solid red;
    background-clip: content-box;
    background-attachment:scroll ;
 
    background-position:20% 20%;
    /* background-position: right 20px bottom 10px; */


}